@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-wr {
  /* height: 300px; */
  /* width: 100%; */
}

.donut-chart-container {
  position: relative;
  .center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: normal;
  }
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

/* table {
  border: 1px solid lightgray;
} */

tbody {
  border-bottom: 1px solid lightgray;
}

/* th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
} */

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

/* radio button color */
.specifyColorRadioButton {
  accent-color: #990000;
}
