@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-wr {
  /* height: 300px; */
  /* width: 100%; */
}

.donut-chart-container {
  position: relative;
  .center-info {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: normal;
  }
}
